@model IEnumerable<RetroGamesAuction1.Models.ViewModel.ListViewModel>
@{
    ViewData["Title"] = "AllIndexbid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <script src="/js/site.js"></script>
    
    @*<meta http-equiv="refresh" content="2">*@
</header>
@if (@TempData["AlertMessage"] != null)
{
  <div class="alert alert-secondary">
    <strong>Ура! </strong>@TempData["AlertMessage"]
</div>  
}
<br />

<h1>Cтавки</h1>

 <div class="align-self-lg-center">
    @using (Html.BeginForm("Index", "Auctionbid", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    <span><b>Поиск по: </b></span>
                    @Html.RadioButton("searchBy","ProductName",true)
                    <text>Название товара</text>
                    @Html.RadioButton("searchBy","ClientName",true)
                    <text>Имя пользователя</text>
                    @Html.RadioButton("searchBy","Status",true)
                    <text>Статус ставки</text>
                    @Html.RadioButton("searchBy","IdAuction")
                    <text>Номер аукциона</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue",null,new {Class = "form-control",placeholder = "Введите значение поиска"})
                </td>
                <td>
                    <input type="submit" value="Поиск" class="btn btn-outline-success" />
                </td>
            </tr>
        </table>
    }
<table  id="table" class="table-rounded table-bordered col-sm-10" style="" >
    <thead>
        <tr>
             <th scope ="col">
                Id Ставки
            </th scope ="col">
            
             <th scope ="col">
                Пользователь
            </th>
                        
            <th scope ="col">
                Товар
            </th>
            <th scope ="col">
                Изображение
            </th scope ="col">

            <th scope ="col">
                Ставка
            </th>
            <th scope ="col">
                Время ставки
            </th>
            
            <th scope ="col">
                Время завершения аукциона
            </th>
             <th scope ="col">
                Статус
            </th>
            <th scope ="col">
                Информация
            </th>
            <th scope ="col">
                Изменения
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAuctionbid)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <img class="imgpr" src="/@item.ProductPic" width="60" height="60" alt="картинка" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidSum)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Datatime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                    

                </td>
                <td>
                   <a href="@Url.Action("Edit","Auctionbid",new {@id=item.IdAuctionbid})" class="btn btn-outline-primary col-12">Изменить</a>
                    <hr />
                    <a href="@Url.Action("Delete","Auctionbid",new {@id=item.IdAuctionbid})" class="btn btn-outline-danger col-12" onclick="return confirm('Вы правда хотите удалить ставку номер: @item.IdAuctionbid ?')">Удалить</a>
                    

                </td>
            </tr>
        }
    </tbody>
</table>

<script src="/js/site.js"></script>
